body{
    background-color: black;
  }
  .HomeContainer{
    text-align: center;
  }
  .card {
      width: 190px;
      background: grey;
      padding: .4em;
      border-radius: 6px;
      display: inline-block;
      margin-left: 20px;
      margin-top: 15px;
      /* margin-bottom: ; */
      margin: 30px 100px;
      border: 2px solid black;
      transition: transform 0.5s ease;
    }
    
    .masterhead
    {
        font: 24px;
        font-weight: 200;
        color: white;
        margin: 5px 0;
    }

    .masterp
    {
        color: white;
        font: 20px;
    }

    .viewall:hover{
        color: red;
    }

    .card:hover
    {
      transform: scale(1.05);
      background-color: rgb(22, 159, 233);
    }
    
    .card-image {
      background-color: rgb(236, 236, 236);
      width: 100%;
      height: 130px;
      border-radius: 6px 6px 0 0;
    }
    
    .card-image:hover {
      transform: scale(0.98);
    }
    
    .category {
      text-transform: uppercase;
      font-size: 0.7em;
      font-weight: 600;
      color: rgb(4, 8, 15);
      padding: 10px 7px 0;
    }
    
    .category:hover {
      cursor: pointer;
    }
    
    .heading {
      font-weight: 600;
      color: black;
      padding: 7px;
      max-height: 198px;
      overflow: hidden;
    }
    
    .heading:hover {
      cursor: pointer;
      color: whitesmoke;
    }
    
    .author {
      color: black;
      font-weight: 400;
      font-size: 11px;
      padding-top: 20px;
    }
    
    .name {
      font-weight: 600;
    }
    
    .name:hover {
      cursor: pointer;
    }