.navbar
{
    height: 8vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #262626;
    padding: 10px;
}

.logo
{
    width: 65px;
    height: 65px;
    border-radius: 100%;
    border: 1px solid black;
}

